<a href="https://colab.research.google.com/github/sathizz7/MongoDB-Project/blob/main/MongoDB_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Connecting to MongoDB Server

In [ ]:
pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo) (2.2.1)

In [ ]:
from pymongo import MongoClient

In [ ]:
client = MongoClient('mongodb+srv://Sathish:sathish7@cluster0.tvzo4zr.mongodb.net/?retryWrites=true&w=majority')

In [ ]:
client.test

Database(MongoClient(host=['ac-aeinvv7-shard-00-00.tvzo4zr.mongodb.net:27017', 'ac-aeinvv7-shard-00-02.tvzo4zr.mongodb.net:27017', 'ac-aeinvv7-shard-00-01.tvzo4zr.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-6b73hg-shard-0', tls=True), 'test')

In [ ]:
client.list_database_names()

['Guvi', 'Testing', 'marks', 'admin', 'local']

In [ ]:
db = client['Testing']

In [ ]:
db.list_collection_names()

['test1']

In [ ]:
db = client['Guvi']

In [ ]:
my_coll = db['session']

In [ ]:
#Docs
marks = [{"_id": 123,'Name' : 'Hugie',
          'age': 24,
          'mark':65,
          'location':'America'},
         {'_id':124,'Name' : 'Homelander',
          'age': 42,
          'mark':99,
          'location':'America'},
         {'_id':125,'Name' : 'starlight',
          'age': 23,
          'mark':80,
          'location':'American'},
         {"_id": 126,'Name' : 'Mave',
          'age': 37,
          'mark':90,
          'location':'India'},
         {'_id':127,'Name' : 'SoilderBoy',
          'age': 75,
          'mark':99,
          'location':'America'},
         {'_id':128,'Name' : 'Atrain',
          'age': 34,
          'mark':88,
          'location':'African'},
         {'_id':129,'Name' : 'Frenchie',
          'age': 23,
          'mark':80,
          'location':'France'},
         {'_id':130,'Name' : 'Kimiko',
          'age': 23,
          'mark':80,
          'location':'Asian'}]

In [ ]:
my_coll.insert_many(marks)     # insert data in collection

In [ ]:
my_coll.insert_one({'_id':122,'Name' : 'Butcher',
          'age': 43,
          'mark':100,
          'location':'British'})

In [ ]:
my_coll.find_one()

{'_id': ObjectId('63c8f14c4b4f23875effcc19'),
 'Name': 'Hugie',
 'age': 24,
 'mark': 65,
 'location': 'America'}

In [ ]:
for i in my_coll.find():
  print(i)

{'_id': ObjectId('63c8f14c4b4f23875effcc19'), 'Name': 'Hugie', 'age': 24, 'mark': 65, 'location': 'America'}
{'_id': ObjectId('63c8f14c4b4f23875effcc1a'), 'Name': 'Homelander', 'age': 42, 'mark': 99, 'location': 'America'}
{'_id': ObjectId('63c8f14c4b4f23875effcc1b'), 'Name': 'starlight', 'age': 23, 'mark': 80, 'location': 'American'}
{'_id': 123, 'Name': 'Hugie', 'age': 24, 'mark': 65, 'location': 'America'}
{'_id': 124, 'Name': 'Homelander', 'age': 42, 'mark': 99, 'location': 'America'}
{'_id': 125, 'Name': 'starlight', 'age': 23, 'mark': 80, 'location': 'American'}
{'_id': 126, 'Name': 'Mave', 'age': 37, 'mark': 90, 'location': 'India'}
{'_id': 127, 'Name': 'SoilderBoy', 'age': 75, 'mark': 99, 'location': 'America'}
{'_id': 128, 'Name': 'Atrain', 'age': 34, 'mark': 88, 'location': 'African'}
{'_id': 129, 'Name': 'Frenchie', 'age': 23, 'mark': 80, 'location': 'France'}
{'_id': 130, 'Name': 'Kimiko', 'age': 23, 'mark': 80, 'location': 'Asian'}
{'_id': 122, 'Name': 'Butcher', 'age': 43, 'mark': 100, 'location': 'British'}

In [ ]:
for i in my_coll.find({'age':24}):
  print(i)

{'_id': ObjectId('63c8f14c4b4f23875effcc19'), 'Name': 'Hugie', 'age': 24, 'mark': 65, 'location': 'America'}
{'_id': 123, 'Name': 'Hugie', 'age': 24, 'mark': 65, 'location': 'America'}

In [ ]:
for i in my_coll.find({'age':24},{'_id':0,'Name':1,'age':1}):
  print(i)

{'Name': 'Hugie', 'age': 24}
{'Name': 'Hugie', 'age': 24}

In [ ]:
for i in my_coll.find({'age':{'$gt':40}}):
  print(i)

{'_id': ObjectId('63c8f14c4b4f23875effcc1a'), 'Name': 'Homelander', 'age': 42, 'mark': 99, 'location': 'America'}
{'_id': 124, 'Name': 'Homelander', 'age': 42, 'mark': 99, 'location': 'America'}
{'_id': 127, 'Name': 'SoilderBoy', 'age': 75, 'mark': 99, 'location': 'America'}
{'_id': 122, 'Name': 'Butcher', 'age': 43, 'mark': 100, 'location': 'British'}

In [ ]:
for i in my_coll.find({'age':{'$gt':40},'Name': 'Buther'}):
  print(i)

In [ ]:
for i in my_coll.find({'$or':[{'age':{'$gt':40}},{'Name': 'Buther'}]}):
  print(i)

{'_id': ObjectId('63c8f14c4b4f23875effcc1a'), 'Name': 'Homelander', 'age': 42, 'mark': 99, 'location': 'America'}
{'_id': 124, 'Name': 'Homelander', 'age': 42, 'mark': 99, 'location': 'America'}
{'_id': 127, 'Name': 'SoilderBoy', 'age': 75, 'mark': 99, 'location': 'America'}
{'_id': 122, 'Name': 'Butcher', 'age': 43, 'mark': 100, 'location': 'British'}

Modify

In [ ]:
for i in my_coll.find():
  print(i)

{'_id': ObjectId('63c8f14c4b4f23875effcc19'), 'Name': 'Hugie', 'age': 24, 'mark': 65, 'location': 'America'}
{'_id': ObjectId('63c8f14c4b4f23875effcc1a'), 'Name': 'Homelander', 'age': 42, 'mark': 99, 'location': 'America'}
{'_id': ObjectId('63c8f14c4b4f23875effcc1b'), 'Name': 'starlight', 'age': 23, 'mark': 80, 'location': 'American'}
{'_id': 123, 'Name': 'Hugie', 'age': 24, 'mark': 65, 'location': 'America'}
{'_id': 124, 'Name': 'Homelander', 'age': 42, 'mark': 99, 'location': 'America'}
{'_id': 125, 'Name': 'starlight', 'age': 23, 'mark': 80, 'location': 'American'}
{'_id': 126, 'Name': 'Mave', 'age': 37, 'mark': 90, 'location': 'India'}
{'_id': 127, 'Name': 'SoilderBoy', 'age': 75, 'mark': 99, 'location': 'America'}
{'_id': 128, 'Name': 'Atrain', 'age': 34, 'mark': 88, 'location': 'African'}
{'_id': 129, 'Name': 'Frenchie', 'age': 23, 'mark': 80, 'location': 'France'}
{'_id': 130, 'Name': 'Kimiko', 'age': 23, 'mark': 80, 'location': 'Asian'}
{'_id': 122, 'Name': 'Butcher', 'age': 43, 'mark': 100, 'location': 'British'}

In [ ]:
Query = {'Name':'Hugie'}
New = {'$set':{'mark':70}}

In [ ]:
my_coll.update_one(Query,New)

In [ ]:
for i in my_coll.find({'Name':'Hugie'}):
  print(i)

{'_id': ObjectId('63c8f14c4b4f23875effcc19'), 'Name': 'Hugie', 'age': 24, 'mark': 70, 'location': 'America'}
{'_id': 123, 'Name': 'Hugie', 'age': 24, 'mark': 65, 'location': 'America'}

In [ ]:
#Find all person in American and change marks to 100
Q = {'location' : 'America'}
new = {'$set': {'mark': 100}}

In [ ]:
my_coll.update_many(Q,new)

In [ ]:
for i in my_coll.find():
  print(i)

{'_id': ObjectId('63c8f14c4b4f23875effcc19'), 'Name': 'Hugie', 'age': 24, 'mark': 100, 'location': 'America'}
{'_id': ObjectId('63c8f14c4b4f23875effcc1a'), 'Name': 'Homelander', 'age': 42, 'mark': 100, 'location': 'America'}
{'_id': ObjectId('63c8f14c4b4f23875effcc1b'), 'Name': 'starlight', 'age': 23, 'mark': 80, 'location': 'American'}
{'_id': 123, 'Name': 'Hugie', 'age': 24, 'mark': 100, 'location': 'America'}
{'_id': 124, 'Name': 'Homelander', 'age': 42, 'mark': 100, 'location': 'America'}
{'_id': 125, 'Name': 'starlight', 'age': 23, 'mark': 80, 'location': 'American'}
{'_id': 126, 'Name': 'Mave', 'age': 37, 'mark': 90, 'location': 'India'}
{'_id': 127, 'Name': 'SoilderBoy', 'age': 75, 'mark': 100, 'location': 'America'}
{'_id': 128, 'Name': 'Atrain', 'age': 34, 'mark': 88, 'location': 'African'}
{'_id': 129, 'Name': 'Frenchie', 'age': 23, 'mark': 80, 'location': 'France'}
{'_id': 130, 'Name': 'Kimiko', 'age': 23, 'mark': 80, 'location': 'Asian'}
{'_id': 122, 'Name': 'Butcher', 'age': 43, 'mark': 100, 'location': 'British'}

In [ ]:
my_coll.delete_many({'location': 'American'})

In [ ]:
for i in my_coll.find():
  print(i)

{'_id': ObjectId('63c8f14c4b4f23875effcc19'), 'Name': 'Hugie', 'age': 24, 'mark': 100, 'location': 'America'}
{'_id': ObjectId('63c8f14c4b4f23875effcc1a'), 'Name': 'Homelander', 'age': 42, 'mark': 100, 'location': 'America'}
{'_id': 123, 'Name': 'Hugie', 'age': 24, 'mark': 100, 'location': 'America'}
{'_id': 124, 'Name': 'Homelander', 'age': 42, 'mark': 100, 'location': 'America'}
{'_id': 126, 'Name': 'Mave', 'age': 37, 'mark': 90, 'location': 'India'}
{'_id': 127, 'Name': 'SoilderBoy', 'age': 75, 'mark': 100, 'location': 'America'}
{'_id': 128, 'Name': 'Atrain', 'age': 34, 'mark': 88, 'location': 'African'}
{'_id': 129, 'Name': 'Frenchie', 'age': 23, 'mark': 80, 'location': 'France'}
{'_id': 130, 'Name': 'Kimiko', 'age': 23, 'mark': 80, 'location': 'Asian'}
{'_id': 122, 'Name': 'Butcher', 'age': 43, 'mark': 100, 'location': 'British'}