<a href="https://colab.research.google.com/github/sathizz7/MongoDB-Project/blob/main/Telephone_Dir.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Telephone dir CRUD Opearations

In [ ]:
#Install Required Libraries
pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymongo
  Downloading pymongo-4.3.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.1/492.1 kB 13.1 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 27.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

In [ ]:
from pymongo import MongoClient

In [ ]:
client = MongoClient('mongodb+srv://Sathish:sathish7@cluster0.tvzo4zr.mongodb.net/?retryWrites=true&w=majority')

In [ ]:
#listing Data base
client.list_database_names()

['Guvi', 'Student', 'Testing', 'marks', 'admin', 'local']

Create new Database and add new Collections

In [ ]:
db = client['Telephone_Dir']    #db

In [ ]:
coll = db['data']         #collection

Perform CRUD Operations.

In [ ]:
#Create

coll.insert_one({'Name' : 'Arun','ph' : '1234567891', 'place':'Chennai'})      #inserts one data

In [ ]:
data = [{'Name' : 'Shiyam','ph' : '1234567892', 'place':'Banglore'},
        {'Name' : 'Varma','ph' : '1234567893', 'place':'Chennai'},
        {'Name' : 'Lokesh','ph' : '1234567894', 'place':'Chennai'},
        {'Name' : 'Surya','ph' : '1234567895', 'place':'Thindivanam'},
        {'Name' : 'Kalki','ph' : '1234567896', 'place':'Tirchy'},
        {'Name' : 'Ajay','ph' : '1234567897', 'place':'Chennai'}    
]

In [ ]:
coll.insert_many(data)   #insert many documents

In [ ]:
#Retrive

coll.find_one()

{'_id': ObjectId('6434e57169d008f57816bc92'),
 'Name': 'Arun',
 'ph': '1234567891',
 'place': 'Chennai'}

In [ ]:
for i in coll.find({'ph' : '1234567892'}):        #Find specific information
  print(i)

{'_id': ObjectId('6434e84469d008f57816bc93'), 'Name': 'Shiyam', 'ph': '1234567892', 'place': 'Banglore'}

In [ ]:
for i in coll.find({'Name' : 'Kalki'}):  
  print(i)

{'_id': ObjectId('6434e84469d008f57816bc97'), 'Name': 'Kalki', 'ph': '1234567896', 'place': 'Tirchy'}

In [ ]:
for i in coll.find():                             #Retrives all data
  print(i)

{'_id': ObjectId('6434e57169d008f57816bc92'), 'Name': 'Arun', 'ph': '1234567891', 'place': 'Chennai'}
{'_id': ObjectId('6434e84469d008f57816bc93'), 'Name': 'Shiyam', 'ph': '1234567892', 'place': 'Banglore'}
{'_id': ObjectId('6434e84469d008f57816bc94'), 'Name': 'Varma', 'ph': '1234567893', 'place': 'Chennai'}
{'_id': ObjectId('6434e84469d008f57816bc95'), 'Name': 'Lokesh', 'ph': '1234567894', 'place': 'Chennai'}
{'_id': ObjectId('6434e84469d008f57816bc96'), 'Name': 'Surya', 'ph': '1234567895', 'place': 'Thindivanam'}
{'_id': ObjectId('6434e84469d008f57816bc97'), 'Name': 'Kalki', 'ph': '1234567896', 'place': 'Tirchy'}
{'_id': ObjectId('6434e84469d008f57816bc98'), 'Name': 'Ajay', 'ph': '1234567897', 'place': 'Chennai'}

In [ ]:
#update

Q = {'Name': 'Kalki'}
update = {'$set' : {'ph' : '9500004942'}}

In [ ]:
coll.update_one(Q,update)                #update

In [ ]:
for i in coll.find({'Name' : 'Kalki'}):  
  print(i)

{'_id': ObjectId('6434e84469d008f57816bc97'), 'Name': 'Kalki', 'ph': '9500004942', 'place': 'Tirchy'}

In [ ]:
q = {'Name' : 'Surya'}
update = {'$set': {'ph': '8348002378', 'location': 'chennai'}}

In [ ]:
coll.update_one(q, update)

In [ ]:
for i in coll.find({'Name' : 'Surya'}):  
  print(i)

{'_id': ObjectId('6434e84469d008f57816bc96'), 'Name': 'Surya', 'ph': '8348002378', 'place': 'Thindivanam', 'location': 'chennai'}

In [ ]:
#delete

coll.delete_one({'Name': 'Ajay'})               #Deletes specific data

In [ ]:
for i in coll.find():                             #Retrives all data, deleted data is missing 
  print(i)

{'_id': ObjectId('6434e57169d008f57816bc92'), 'Name': 'Arun', 'ph': '1234567891', 'place': 'Chennai'}
{'_id': ObjectId('6434e84469d008f57816bc93'), 'Name': 'Shiyam', 'ph': '1234567892', 'place': 'Banglore'}
{'_id': ObjectId('6434e84469d008f57816bc94'), 'Name': 'Varma', 'ph': '1234567893', 'place': 'Chennai'}
{'_id': ObjectId('6434e84469d008f57816bc95'), 'Name': 'Lokesh', 'ph': '1234567894', 'place': 'Chennai'}
{'_id': ObjectId('6434e84469d008f57816bc96'), 'Name': 'Surya', 'ph': '8348002378', 'place': 'Thindivanam', 'location': 'chennai'}
{'_id': ObjectId('6434e84469d008f57816bc97'), 'Name': 'Kalki', 'ph': '9500004942', 'place': 'Tirchy'}

In [ ]:
coll.delete_many({'place' : 'Chennai'})

In [ ]:
for i in coll.find():                             #Retrives all data, deleted data is missing 
  print(i)

{'_id': ObjectId('6434e84469d008f57816bc93'), 'Name': 'Shiyam', 'ph': '1234567892', 'place': 'Banglore'}
{'_id': ObjectId('6434e84469d008f57816bc96'), 'Name': 'Surya', 'ph': '8348002378', 'place': 'Thindivanam', 'location': 'chennai'}
{'_id': ObjectId('6434e84469d008f57816bc97'), 'Name': 'Kalki', 'ph': '9500004942', 'place': 'Tirchy'}